<div class="container">
<mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <!-- <mat-card-content>assignmentTransmis.note</mat-card-content>
        <mat-card-content>assignmentTransmis.autheur</mat-card-content>
        <mat-card-content>assignmentTransmis.matiere</mat-card-content> 
        <mat-card-content>assignmentTransmis.remarque</mat-card-content> -->
    <div id="bottom">
        
        <mat-checkbox  *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
            Devoir rendu
        </mat-checkbox>

        <nav>
            <button mat-stroked-button color="primary" type="submit" [disabled]="!isUser()" routerLink = "/assignment/{{assignmentTransmis.id}}/edit">
                Edit
            </button>
        </nav>


        <button mat-flat-button color="primary" [disabled]="!isAdmin()" (click)="onDelete()" >
            Supprimer
        </button>
    </div>
</mat-card>
</div>