<main class="container">

    <h1>Liste des devoirs a rendre :</h1>
    <mat-paginator
        [length]="totalDocs"
        [pageSize]="limit"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page"
        (page)="handlePageEvent($event)"
        >
    </mat-paginator>
    
    <mat-list *ngFor="let a of assignments">
        <nav>
            <mat-list-item (click)="assignmentClick(a)" routerLink="/assignment/{{a.id}}">
                <span matListItemTitle>{{a.nom}}</span>
                <span matListItemLine>{{a.dateDeRendu|date}}</span>
                <span matListItemLine>Rendu : {{a.rendu}}.</span>
                <mat-divider></mat-divider>
            </mat-list-item>
        </nav>
    </mat-list>
</main>
