.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
.main-card{
    width:95%;
}

table {
    width: 100%;
}
  
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
  
.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.rechercheInput{
    margin-left: 5%;
}


  
