#profile-img{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-control{
  margin-left: 10px;
  border-radius: 10px;
}

.form-input{
  margin-top: 10px;
  width: 100%;
}

.main-div{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card{
  text-align: center;
  width:40%;
}

button{
  margin-top: 10px;
}

