section {
  display: table;
}

.header{
  background-color: lightgrey;
  margin-bottom: 1%;
}

.label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

button{
  background-color: rgb(20, 36, 44);
  color: white;
  margin: 10px;
  border-radius: 8px;

  box-shadow: 2px 3px rgb(10, 18, 22, 0.25);
}

.button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.title{
  color: white;
  background-color: rgba(0, 47, 61, 0.85);
  border-radius: 3px;
}

#logout{
  background-color: rgb(119, 33, 8);
  color: white;
  box-shadow: 2px 3px rgb(60, 16, 4, 0.25);
}
