<form ngForm #assignmentForm class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu"  name="date" placeholder="JJ-MM-AAAA">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <div align="center">
    <button mat-strocked-button color="primary" (click)="onSubmit()">
        Ajouter un devoir
    </button>
  </div>
</form>
