<div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form *ngIf="!isSuccessful" 
            name="form"
            #f="ngForm"
            (ngSubmit)="f.form.valid && onSubmit()"
            novalidate>
            
            <div class="form-group">
                <label for="inputName">Username</label>
                <input type="text"
                    id="inputName"
                    class="form-control"
                    name="username" 
                    placeholder="xXdimitriXx" 
                    [(ngModel)]="form.username"
                    #username="ngModel"
                    required
                    autofocus
                    minlength="3"
                    maxlength="20">

                <div class="alert-danger" *ngIf="username.invalid && (username.dirty || username.touched) && f.submitted">
                    <div *ngIf="username.errors['required']">
                        Username is required.
                    </div>
                    <div *ngIf="username.errors['min-length']">
                        Username must be at least 3 characters long.
                    </div>
                    <div *ngIf="username.errors['max-length']">
                        Username cannot be more than 20 characters long.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email"
                    id="inputEmail"
                    class="form-control" 
                    name="email"
                    placeholder="xXdimitriXx@yo.fr" 
                    [(ngModel)]="form.email" 
                    #email="ngModel"
                    required>

                <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched) && f.submitted">
                    <div *ngIf="email.errors['required']">
                        Email is required.
                    </div>
                    <div *ngIf="email.errors['email']">
                        Email is invalid.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password"
                    id="inputPassword" 
                    class="form-control" 
                    name="password"
                    [(ngModel)]="form.password" 
                    #password="ngModel" 
                    required
                    minlength="9">
                <div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched) && f.submitted">
                    <div *ngIf="password.errors['required']">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors['min-length']">
                        Password must be at least 9 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block btn-signin">Register</button>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    <strong>Registration failed!</strong> Please try again. {{errorMessage}}
                </div>
                <div class="alert alert-warning" *ngIf="isSuccessful">
                    <strong>Registration successful!</strong> Please login.
                </div>
            </div>
        </form>
        <div class="alert alert-warning" *ngIf="isSuccessful">
            <strong>Registration successful!</strong> Please login.
        </div>
    </div>
</div>
